@using AspNetCoreWebApplication.Models
@model ICollection<ReadDB> 
<div>
   <div class="text">
    <h2>@ViewData["json"]</h2>
    </div>
    <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th scope="col">Fecha </th>
                        <th scope="col">Temperatura </th>
                    </tr>
                </thead>

                    @foreach (var x in Model){
                        @if(x.fecha != null ) {
                            <tr>
                                <td>@x.fecha</td>
                                <td>@int.Parse(x.tempera)</td>
                            </tr>
                        }
                    }                            
    </table>
</div>