@using AspNetCoreWebApplication.Models
@model AspNetCoreWebApplication.Models.ReadDB;


@*muetra la variable json*@
<div class="text">
    <h2>@ViewData["mensaje"]</h2>
</div>


<form asp-controller="Home" asp-action="Index" class="d-flex">   
        <button class="btn btn-outline-success" type="submit">Regresar</button>                      
</form>
