@using AspNetCoreWebApplication.Models
@model AspNetCoreWebApplication.Models.ReadDB;



<form asp-controller="Home" asp-action="Consulta" class="d-flex">
        
        <input name="x" class="form-control me-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>                      
</form>

<ul>
@ViewData["mensaje"]
</ul>
