@using AspNetCoreWebApplication.Models
@model ICollection<ReadDB> 
@{
    ViewData["Title"] = "Example app";
}
@* <a class="twitter-link" href="https://twitter.com/home/?status=I just hosted a website on AWS!"><img src="img/tweet.svg" /></a> *@


@* <div class="row text">
    <h1>Congratulations!</h1>
</div> *@
@* <div class="row">
    <h2>@ViewData["Message"]</h2>
</div> *@
<div>
    <a asp-controller="Home" asp-action="Consulta">Cargar Datos</a>
</div>

@* <div>
    <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th scope="col">Fecha </th>
                        <th scope="col">Temperatura </th>
                    </tr>
                </thead>

                    @foreach (var x in Model){
                        @if(x.fecha != null ) {
                            <tr>
                                <td>@x.fecha</td>
                                <td>@x.tempera</td>
                            </tr>
                        }
                    }                            
    </table>
</div> *@